<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
  <configSections>
    <section name="aspects" type="ActiveAttributes.Core.Configuration.AspectsConfiguration, ActiveAttributes.Core"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <aspects xmlns="http://tempuri.org/aspects.xsd" >
    
    <typeRules ignoreAssemblyDefinedRules="true">
      <add beforeType="" afterType=""/>
    </typeRules>
    <roleRules ignoreAssemblyDefinedRules="true">
      <add beforeRole="Validation" afterRole="Threading" />
    </roleRules>
  </aspects>
</configuration>
