<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
  <configSections>
    <section name="aspects" type="ActiveAttributes.Core.Configuration.AspectsConfigurationSection, ActiveAttributes.Core"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <aspects xmlns="http://activeattributes.codeplex.com/configuration/aspects.xsd"
           ignoreAssemblyDefinedRules="true" >
    <typeRules>
      <add beforeType="ActiveAttributes.UseCases.Aspects.OrderedAspect1Attribute, ActiveAttributes.UseCases"
           afterType="ActiveAttributes.UseCases.Aspects.OrderedAspect2Attribute, ActiveAttributes.UseCases" />
    </typeRules>
  </aspects>
</configuration>
