<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
  <configSections>
    <section name="aspects" type="ActiveAttributes.Core.Configuration.AppConfigElements.AspectsConfigurationSection,
             ActiveAttributes.Core"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <aspects>
    <typeRules>
      <add beforeType="ActiveAttributes.UseCases.Aspects.OrderedAspect1Attribute"
           afterType="ActiveAttributes.UseCases.Aspects.OrderedAspect2Attribute" />
    </typeRules>
  </aspects>
</configuration>
