<?xml version="1.0"?>

<!--
Sample license text.
-->
<configuration>
  <configSections>
    <section name="aspects" type="ActiveAttributes.Core.Configuration.AspectsConfigurationSection, ActiveAttributes.Core"/>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <activeattributes xmlns="http://activeattributes.codeplex.com/configuration/schema.xsd"
           ignoreAssemblyDefinedRules="false">
  </activeattributes>

</configuration>
